*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f5f5f5;
}

h1{
    text-align:center;
    padding:30px;
}


.logo-container{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:30px;
    flex-wrap:wrap;
}


.logo-card{
    width:150px;
    height:150px;
    background:white;
    border-radius:15px;

    display:flex;
    justify-content:center;
    align-items:center;

    box-shadow:0 5px 10px rgba(0,0,0,0.2);

    /* Requirement */
    transition:1s;
}


.logo-card img{
    width:90px;
    height:90px;
    object-fit:contain;
}


.logo-card:hover{
    transform:rotate(360deg);
}