
body{
    background-color: lightgray;
    text-align: center;
}
.company{
    width: 300px;
    height: 100px;
    color: white;
    margin: 20px auto;
    padding-top: 30px;
}


#zoho{
    background-color: green;
}

#tcs{
    background-color: blue;
}

#infosys{
    background-color: purple;
}