
*{
    margin:0;
    padding: 0;
    box-sizing:border-box ;
}
html{
    scroll-behavior: smooth;
}
    body{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    div{
    background-color: black;
    color: azure;
    font-size: larger;
    height: 100px;
    text-align: center;
}
#unique{
    background-color: aqua;
    color: blue;
    font-size: medium;
    text-align: center;
}
.important{
     background-color: blueviolet;
    color:aqua;
    font-size: small;
    text-align: center;
}
div p{
    background-color: rgb(165, 42, 83);
}